# Project exclude paths
/.gradle/
/build/
/app/build/

# IDE configs
/.idea/
/.vscode/
*.iml

# Local configuration (contains SDK paths)
local.properties

# Signing configs (NEVER commit these!)
keystore.properties
*.keystore
*.jks

#Local builds
/app/release/

# OS files
.DS_Store
Thumbs.db

# Kotlin
/.kotlin/
/RELEASE NOTES TEMPLATE.md
